<%
# This file provides configuration options for the workload plugin.
%>
<fieldset class="box tabular">	
	<legend><%= l(:workload_settings_projects) %></legend>
	<p>
	  <label><%= l(:workload_settings_projects) %></label>
	  <textarea rows="5" cols="20" required name="settings[projects]"><%= settings['projects'] %></textarea>
	</p>
</fieldset>

<fieldset class="box tabular">	
	
	<legend><%=  l(:workload_settings_hours) %></legend>
	
	<p>
	  <%= l(:workload_settings_leastdailyworkload) %>
	</p>
	<p>
	  <label><%= l(:workload_settings_hours_low_min) %></label>
	  <input type="text"
	         name="settings[threshold_lowload_min]"
	         value="<%= settings['threshold_lowload_min'] %>"
	  >
	</p>
	<p>
	  <label><%= l(:workload_settings_hours_normal_min) %></label>
	  <input type="text"
	         name="settings[threshold_normalload_min]"
	         value="<%= settings['threshold_normalload_min'] %>"
	  >
	</p>
	<p>
	  <label><%= l(:workload_settings_hours_high_min) %></label>
	  <input type="text"
	         name="settings[threshold_highload_min]"
	         value="<%= settings['threshold_highload_min'] %>"
	  >
	</p>
</fieldset>

<fieldset class="box">	
		<legend><%=l(:workload_holiday_title) %></legend>
	
		<%= link_to l(:workload_settings_holiday_setup), :controller => 'wl_national_holiday', :action => "index" %>	
</fieldset>	