	<%= hidden_field_tag 'zoom', @zoom %>
	<div class="timespan">
		<p class="buttons">
		<%= l(:workload_show_rangefrom) %> <%= select_month(@month_from, :prefix => "month", :discard_type => true) %>
		<%= select_year(@year_from, :prefix => "year", :discard_type => true) %>
		<%= l(:workload_show_rangeto) %><span>&nbsp;&nbsp;</span><%= text_field_tag 'months', @months, :size => 2 %><span>&nbsp;</span><%= l(:workload_show_months) %>
		<%= check_box_tag 'exclude_closed', '1', @exclude_closed %> <%= l(:workload_exclude_closed)%>
		<%= link_to_function l(:button_apply), 'jQuery("#filter_form").submit()', :class => 'apply icon icon-checked' %>
		<p class="buttons">
		<span><%= l(:workload_show_filter_help) %></span>
	</div>
	<div class="groups" style="float: left">
		<table>
			<tr><td><span><%= label_tag :workload_groups, l(:workload_show_filter_group) %></span></td></tr>
			<tr><td><%= select_tag :workload_groups, get_option_tags_for_groupselection(@groupsToDisplay, @selectedGroups), :name => 'workload[groups][]', :multiple => true, :onchange => "this.form.workload_users.selectedIndex=-1;" %></td></tr>
		</table>
    </div>
	<div style="float: left"><span>&nbsp;&nbsp;</span></div>
    <div class="users" style="float: left">
		<table>
			<tr><td><span><%= label_tag :workload_users, l(:workload_show_filter_user) %></span></td></tr>
			<tr><td><%= select_tag :workload_users, get_option_tags_for_userselection(@usersAllowedToDisplay, @usersToDisplay), :name => 'workload[users][]', :multiple => true, :onchange => "this.form.workload_groups.selectedIndex=-1;" %></td></tr>
		</table>
    </div>
	<div class="contextual">
	  <%= wl_zoom_link(@zoom, :in) %>
	  <%= wl_zoom_link(@zoom, :out) %>
	</div>