<% html_title(l(:workload_site_title)) %>

<div class="contextual">
    <%= render_action_links %>
</div>

<h2><%= l(:workload_show_label) %></h2>

<%= form_tag({:controller => 'work_load', :action => 'show', :month => params[:month],
             :year => params[:year], :months => params[:months]}, {:method => :get, :id => 'filter_form', :class => 'filters'}) do %>
	<fieldset id="filters" class="collapsible collapsed">
	  <legend onclick="toggleFieldset(this);"><%=l(:label_filter_plural)%></legend>
	  <div>
		<%= render :partial => 'filters' %>
	  </div>
	</fieldset>
	<fieldset id="options" class="collapsible collapsed">
		<legend onclick="toggleFieldset(this);"><%= l(:label_options) %></legend>
		<div style="display: none;">
			<p class="buttons">
			<%= l(:workload_show_today) %> <%= date_field_tag 'control_date', @today %>
			<%= check_box_tag 'exclude_closed', '1', @exclude_closed %> <%= l(:workload_exclude_closed)%>
		</div>
	</fieldset>
<%
  end
%>
<%= error_messages_for 'query' %>

<%
  user_width = 121
  header_height = 19
  headers_height = header_height
  if @zoom > 2
    headers_height = (@zoom - 1) * header_height
  end

  # Size of the entire chart
  g_width = (@last_day - @first_day + 1).to_i
  g_height = 0
%>
<% @workloadData.keys.each do |user| %>
	<%
		g_height += 19
	%>
<% end %>
<%
  t_height = g_height + headers_height
%>

<div class="wrapper">
	<table style="width:100%; border:0; border-collapse: collapse;">
		<tr>
			<td style="padding:0px;width:<%= user_width %>px;">
				<%= render :partial => 'users', :locals => {:t_height => t_height, :user_width => user_width, :headers_height => headers_height, :header_height => header_height} %>
			</td>
			<td style="padding:0px;">
				<%
					style = "position:relative;overflow:-webkit-paged-x;width:80%;"
					style += "height: #{t_height + 19}px;"
				%>
				<%= content_tag(:div, :style => style, :id => 'workload_area') do %>
					<%= render :partial => 'headers', :locals => {:t_height => t_height, :headers_height => headers_height, :g_width => g_width, :header_height => header_height, :g_height => g_height} %>
					<% if @zoom == 4 %>
						<%= render :partial => 'user_day_workload', :locals => {:t_height => t_height, :headers_height => headers_height, :g_width => g_width, :header_height => header_height, :g_height => g_height} %>
					<% end %>
					<% if @zoom == 3 %>
						<%= render :partial => 'user_week_workload', :locals => {:t_height => t_height, :headers_height => headers_height, :g_width => g_width, :header_height => header_height, :g_height => g_height} %>
					<% end %>
					<% if @zoom == 2 %>
						<%= render :partial => 'user_month_workload', :locals => {:t_height => t_height, :headers_height => headers_height, :g_width => g_width, :header_height => header_height, :g_height => g_height} %>
					<% end %>
				<% end %>
			</td>
		</tr>
	<table>
</div>