<div class="splitcontentleft">
	<fieldset class="box tabular">
		<legend><%=  l(:workload_user_vacation) %></legend>
		<p>
			<label><%= l(:workload_show_filter_user) %></label>
			<%= form.select :user_id, principals_options_for_select(@usersToDisplay, @wl_user_vacation.user), :multiple => false, :include_blank => true, disabled: disabled %>
		</p>	
		<p>
			<%= form.label :description_date_from %><br>
			<%= form.date_select :date_from, default: { year: @this_year} %>    
		</p>
		<p>
			<%= form.label :description_date_to %><br>
			<%= form.date_select :date_to, default: { year: @this_year} %>    
		</p>
		<p>
			<%= form.label :comments %>
			<%= form.text_field :comments %>
		</p>
		<p>
			<%= form.label l(:workload_user_vacation_type) %>
			<%= form.text_field :vacation_type %>  	
		</p>
		<input type="hidden" name="year" value="<%=@this_year%>">
	</fieldset>
</div>