<% html_title(l(:workload_user_data_site_title)) %>

<h2><%= l(:workload_user_vacation_new) %></h2>

<%= form_for :wl_user_vacations, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
	<%= render(partial: "form", locals: {form: f, disabled: true}) %>
	<div style = "float: none" class="splitcontentleft">
		<p>
			<%= f.submit l(:button_add)%>
			<%= link_to l(:button_cancel), :controller => 'wl_user_vacations', :action => "index", :year => @this_year %>
		</p>
	</div>
<% end %>
